body{
  background-color: #f6f6f6;
  font-family: sans-serif
}

.header{
  display: flex;
  padding: .5em 3em .5em 3em;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

}

.title{
  color: grey;
  display: inline-flex;
}


#search{
  float: right;
  padding: 0.5em;
  width: 15em;
  border-radius: 0.4em;
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  font-size: 14px;

}

#search:hover, #search:focus {
  border-color: #4ba6c3;
  outline-width: 0;
}


.modal-profile-img,
.card-profile-img{
  border-radius: 50%;
}

.modal-name,
.card-name,
.card-city,
.modal-city
{
  text-transform: capitalize;
}

.modal-profile-img{
  width: 50%;
  height: auto;
}

.card{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8em;
  padding: 0em 3em 0em 3em;

}

.card-content{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-rows: 8em;
  border: lightgrey 1px solid;
  border-radius: 0.3em;
  padding: 1em;
  background-color: white;
  color: grey;
  cursor: pointer;
}

.card-content:hover{
  border-color: #4ba6c3;
  background-color: rgb(254,254,255);
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  display: none;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: white;
  margin: 5% auto;
  width: 32%;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}



.modal-body{

  padding-bottom: 1em;
  display: inline-block;
  grid-column: 2/3;
  grid-row: 2;
  color: grey;
}

.modal-name, .card-name{
  color: black;
}

.closeBtn{
  color: grey;
  font-size:3em;
  padding: 0.25em;
  padding-bottom: 0;
  grid-column: span 3;
  justify-self: end;
  align-items: start;
  grid-row: 1;
}

.closeBtn:hover, .closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;
}

.right-arrow, .left-arrow{
    color: grey;
    grid-row: 2;
    font-size:3.5em;
    align-self: center;

}

.left-arrow{
  grid-column: 1/2;
}

.right-arrow{
  grid-column: 3/4;
}

.right-arrow:hover{
  color:#000;
  text-decoration: none;
  cursor: pointer;
}

.left-arrow:hover{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

.card-profile-img:hover{
  transform: rotate(5deg);
}

.user-count{
  grid-column: 2/3;
  color: grey;
  padding: 0.3em;
}
